body {
  color: black;
  text-align: left;
  font-family: "Arial";
  font-size: 16px;
  margin: 0;
  padding: 0  ;
}
#contenedor {
  width: 70%;
  padding: 1cm;
  margin: 0 auto;
  border: 1px solid rgb(182, 179, 179);
}
#cabecera{
  color: azure;
  text-align: left;
  background-color: blueviolet;
  font-size: 20px;
  font-weight: bold ;
}
#informacion h1{
  text-align: center;
}


