body {
  background: black;
  color: black;
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  margin: 0;
  padding: 0  ;
}
#contenedor {
  background-color: white;
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid white;
  margin: 0 auto;
}

#cabecera{
  background: #37488b;
  color:white;
  font-weight: bold;
  margin: 0;;
  padding: 0.5em;
  
 
}
#cabecera #imagen{
  width: 50px;
  vertical-align: middle;
}
#cabecera #tagline{
  font-size: 0.8em;
  font-weight: normal;
  padding: 0 0 0 1em;
}

#informacion h1{
  text-align: center;

}
#fontimg{
  width: 850px;
  height:480px;
  display: block;
  margin:auto;
  margin-bottom: 10px;
}

#footer{
  text-align: center;
  color:white;
  background-color: black;
  padding: 0.8em;
}
